<div class="character-container">

  <div class="search-container">
    <input 
      placeholder="Buscar personajes..."
      /> <!-- Enlazar a searchTerm con [(ngModel)] y llamar a onSearchKeyup($event) en (keyup) -->
    
    <button>Buscar</button> <!-- Enlazar (click) a onSearch() -->
  </div>

  <!--loading es verdadero  -->
  @if (true) {
    <div class="loading-state">
      <p>Cargando personajes...</p>
    </div>
  }
  
  <!-- errorMessage tiene contenido  -->
  @if (true) {
    <div class="error-state">
      <p><!-- Mostrar errorMessage aquí --></p>
    </div>
  }

  <!-- no cargando Y hay personajes  -->
  @if (true) {
    <div class="character-grid">
      <!-- loop for con señal de personajes  -->
    </div>
  }

    <!-- no cargando Y no hay error Y no hay personajes  -->
  @if (true) {
    <div class="empty-state">
      <p>No se encontraron personajes con ese término de búsqueda.</p>
    </div>
  }
  
</div>