<div class="character-container">

  <div class="search-container">
    <input
      placeholder="Buscar personajes..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="onSearch()"
    />
    
    <button (click)="onSearch()">Buscar</button>  
  </div>

  <!--loading es verdadero  -->
  @if (loading) {
    <div class="loading-state">
      <p>Cargando personajes...</p>
    </div>
  }
  
  <!-- errorMessage tiene contenido  -->
  @if (errorMessage) {
    <div class="error-state">
      <p>{{errorMessage}}</p>
    </div>
  }

  <!-- no cargando Y hay personajes  -->
  @if (!loading && hasCharacters()) {
    <div class="character-grid">
      @for (character of characters(); track character.id) {
        <div class="character-card">
          <img
            [src]="character.image"
            [alt]="character.name"
            class="character-image"
          />
          <div class="character-info">
            <h3>{{ character.name }}</h3>
            <p>Status: {{ character.status }}</p>
            <p>Species: {{ character.species }}</p>
          </div>
        </div>
      }
    </div>
  }

    <!-- no cargando Y no hay error Y no hay personajes  -->
  @if (!loading && !errorMessage && !hasCharacters()) {
    <div class="empty-state">
      <p>No se encontraron personajes con ese término de búsqueda.</p>
    </div>
  }
  
</div>